.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.Container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  margin-left: 10%;
  padding-right: 20%;
}

.formatBtn {
  margin: 0.5em;
  width: 20%;
}

.formatInput {
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  margin: 0.5em;
}

.players {
  width: 33%;
  margin-left: 67%;
  padding: 3.5em;
  text-align: center;
}

.playerList {
  padding-top: 0.5em;
  font-size: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
